<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:annotation-config/>

	<bean id="person" class="com.sapient.ACE.main.Person" autowire="byName">
	</bean>
	<bean id="address" class="com.sapient.ACE.main.Address">
		<property name="firstAddress" value="aaa"></property>
		<property name="city" value="city1"></property>
	</bean>
	<bean id="person1" class="com.sapient.ACE.main.Person" factory-method="aaaa" >
	</bean>
	<bean id="address1" class="com.sapient.ACE.main.Address" factory-method="bbb" scope="prototype">
	</bean>
</beans>